/* Selecting colors for different elements of the page */

h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color:white
    
}
body {
    background-image: url("5590457.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header {
 text-align: right;
}
.profile-link {
  font-size: 40px;
  color: white;
  background-color: #0077b5;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.profile-link:hover {
  background-color: #005f8d;
}
