/* Selecting colors for different elements of the page */

h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color:white
    
}
body {
    background-image: url("3409297.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

